<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema CRM</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='resources/images/logo_pagina.png')}}" >
    <link rel="stylesheet" 
    href="https://fonts.googleapis.com/css?family=Inter:Regular,Bold,Black,Light,ExtraLight">
    <script src="js/clientes.js" defer></script>
    <script src="js/menulateral.js" defer></script>
    <script src="js/botonpanel.js"></script>
    <style>
        .PANEL{
            display: none;
        }
        #PANELREGISTRO1{
            min-width: 800px;
            max-width: 800px;
        }
        #PANELREGISTRO2{
            min-width: 800px;
            max-width: 800px;
        }
        #DATOSDECLIENTE1 #CABECERAPANEL, #DATOSDECLIENTE2 #CABECERAPANEL{
            position: relative;
        }
        #DATOSDECLIENTE1 #CABECERAPANEL div:last-child, #DATOSDECLIENTE2 #CABECERAPANEL div:last-child{
            position: absolute;
            right: 0px;
        }
        #DATOSDECLIENTE1{
            min-width: 800px;
            max-width: 800px;
        }
        #DATOSDECLIENTE2{
            min-width: 800px;
            max-width: 800px;
        }
        .CAMPO{
            margin-right: 30px;
        }
    </style>
</head>
<body>
    <main>
        <header>
            <div class="MENU">
                <a href="index.html" class="LOGOMENU">
                    <img src="recursos/imagenes/cubo.png" alt="Logo">
                </a>
                <div class="SEPARADORMENU"></div>
                <a href="clientes.html" class="LOGOMENU">
                    <img src="recursos/imagenes/personas.png" alt="Logo">
                    <div>CLIENTES</div>
                </a>
                <div class="SEPARADORMENU"></div>
                <a href="clientes.html" class="LOGOMENU">
                    <img src="recursos/imagenes/personas.png" alt="Logo">
                </a>
                <div class="SEPARADORMENU"></div>
                <a href="clientes.html" class="LOGOMENU">
                    <img src="recursos/imagenes/personas.png" alt="Logo">
                </a>
                <div class="SEPARADORMENU"></div>
                <a href="clientes.html" class="LOGOMENU">
                    <img src="recursos/imagenes/personas.png" alt="Logo">
                </a>
                <div class="SEPARADORMENU"></div>
                <a href="clientes.html" class="LOGOMENU">
                    <img src="recursos/imagenes/personas.png" alt="Logo">
                </a>
            </div>
            <div class="SESION">
                <div class="INFORMACION">
                    <img src="recursos/imagenes/usuario.png" alt="Icono de Perfil">
                    <div>Nombre</div>
                </div>
                <nav class="OPCIONES">
                    <a href="#">
                        <div>Salir</div>
                        <img src="recursos/imagenes/boton-de-encendido-apagado.png" alt="icono de salir">
                    </a>
                    <a href="#">
                        <div>Configuración</div>
                        <img src="recursos/imagenes/configuraciones.png" alt="icono de configuracion">
                    </a>
                </nav>
            </div>
        </header>
        <section id="CONTENIDO">
            <div id="MENULATERAL">
                <div class="BTNMENULATERAL" id="btn-1" panel="PANELREGISTRO1">REGISTRAR CLIENTE</div>
                <div class="BTNMENULATERAL" id="btn-2" panel="PANELBUSQUEDA">BUSCAR CLIENTE</div>
                <div class="BTNMENULATERAL" id="btn-3">REPORTES</div>
                <div class="BTNMENULATERAL" id="btn-4">AUDITAR CLIENTE</div>
                <div class="BTNMENULATERAL" id="btn-5">CONSULTAR OPERACIONES</div>
            </div>
            <div id="CONTENEDORPANEL">
                <div class="PANEL" id="PANELREGISTRO1">
                    <div id="CABECERAPANEL">
                        <div>REGISTRO DE CLIENTE</div>
                    </div>
                    <div class="SEPARADORPANEL"></div>
                    <div class="CONTENIDOPANEL">
                        <div class="CAMPO">
                            <div>Id</div>
                            <input type="text" id="ID" disabled>
                        </div>
                        <span></span>
                        <div class="CAMPO">
                            <div>Nombres</div>
                            <input type="text" id="NOMBRE">
                        </div>
                        <div class="CAMPO">
                            <div>Ap. Paterno</div>
                            <input type="text" id="APP">
                        </div>
                        <div class="CAMPO">
                            <div>Ap. Materno</div>
                            <input type="text" id="APM">
                        </div>
                        <div class="CAMPO">
                            <div>Género</div>
                            <input type="text" id="GENERO">
                        </div>
                        <div class="CAMPO">
                            <div>Fec. Nacimiento</div>
                            <input type="date" id="FN">
                        </div>
                        <div class="CAMPO">
                            <div>DNI</div>
                            <input type="text" id="DNI">
                        </div>
                        <div class="CAMPO">
                            <div>Nacionalidad</div>
                            <input type="text" id="NAC">
                        </div>
                        <div class="CAMPO">
                            <div>Email</div>
                            <input type="email" id="EMAIL">
                        </div>
                        <div class="CAMPO">
                            <div>Teléfono</div>
                            <input type="tel" id="TEL">
                        </div>
                        <div class="CAMPO">
                            <div>Departamento</div>
                            <input type="" id="DPTO">
                        </div>
                        <div class="CAMPO">
                            <div>Provincia</div>
                            <input type="text" id="PROV">
                        </div>
                        <div class="CAMPO">
                            <div>Ciudad</div>
                            <input type="text" id="CIUDAD">
                        </div>
                        <div class="CAMPO">
                            <div>Distritos</div>
                            <input type="text" id="DISTRITO">
                        </div>
                        <div class="CAMPO">
                            <div>Cod. Postal</div>
                            <input type="text" id="CODP">
                        </div>
                        <div class="CAMPO">
                            <div>Dirección</div>
                            <input type="text" id="DIR">
                        </div>
                    </div>
                    <div class="SEPARADORPANEL"></div>
                    <div id="PIEPANEL">
                        <div>DATOS PERSONALES 1</div>
                        <button class="BTNPANEL" onclick="cargarPanel('PANELREGISTRO2')">Siguiente →</button>
                    </div>
                </div>
                <div class="PANEL" id="PANELREGISTRO2">
                    <div id="CABECERAPANEL">
                        <div>REGISTRO DE CLIENTE</div>
                    </div>
                    <div class="SEPARADORPANEL"></div>
                    <div class="CONTENIDOPANEL">
                        <div class="CAMPO">
                            <div>RUC</div>
                            <input type="text" id="RUC">
                        </div>
                        <span></span>
                        <div class="CAMPO">
                            <div>¿Cuántos familiares tiene el cliente?</div>
                            <input type="text" id="NFAM">
                        </div>
                        <div class="CAMPO">
                            <div>¿Cuál es el pasatiempo favorito del cliente?</div>
                            <input type="text" id="PASAT">
                        </div>
                        <div class="CAMPO">
                            <div>Número de dispositivos que tiene el cliente en casa</div>
                            <input type="text" id="NDISP">
                        </div>
                        <div class="CAMPO">
                            <div>Nivel socioeconómico del cliente</div>
                            <input type="text" id="NSOC">
                        </div>
                        <span></span>
                    </div>
                    <div class="SEPARADORPANEL"></div>
                    <div id="PIEPANEL">
                        <button class="BTNPANEL" onclick="cargarPanel('PANELREGISTRO1')">← Atras</button>
                        <div>DATOS PERSONALES 2</div>
                        <button class="BTNPANEL" onclick="registrarCliente()">Finalizar</button>
                    </div>
                </div>
                <div class="PANEL" id="PANELBUSQUEDA">
                    <div id="CABECERAPANEL">
                        <div>INGRESE EL ID O DNI DEL  CLIENTE A BUSCAR</div>
                    </div>
                    <div class="SEPARADORPANEL"></div>
                    <div class="CONTENIDOPANEL">
                        <div class="CAMPO">
                            <div>ID</div>
                            <input type="text" id="IDBUS">
                        </div>
                        <button class="BTNPANEL" onclick="buscarCliente()">Buscar</button>
                        <span></span>
                        <div class="CAMPO">
                            <div>DNI</div>
                            <input type="text" id="DNIBUS">
                        </div>
                        <button class="BTNPANEL" onclick="buscarCliente()">Buscar</button>
                    </div>
                    <div class="SEPARADORPANEL"></div>
                    <div id="PIEPANEL">
                    </div>
                </div>
                <div class="PANEL" id="DATOSDECLIENTE1">
                    <div id="CABECERAPANEL">
                        <div>DATOS DE CLIENTE ENCONTRADO</div>
                        <div>
                            <button class="BTNPANEL">Modificar</button>
                            <button class="BTNPANEL" onclick="eliminarCliente()">Eliminar</button>
                        </div>
                    </div>
                    <div class="SEPARADORPANEL"></div>
                    <div class="CONTENIDOPANEL">
                        <div class="CAMPO">
                            <div>Id</div>
                            <input type="text" id="ID" disabled>
                        </div>
                        <div class="CAMPO">
                            <div>Estado</div>
                            <input type="text" id="ESTADO" disabled>
                        </div>
                        <span></span>
                        <div class="CAMPO">
                            <div>Nombres</div>
                            <input type="text" id="NOMBRE">
                        </div>
                        <div class="CAMPO">
                            <div>Ap. Paterno</div>
                            <input type="text" id="APP">
                        </div>
                        <div class="CAMPO">
                            <div>Ap. Materno</div>
                            <input type="text" id="APM">
                        </div>
                        <div class="CAMPO">
                            <div>Género</div>
                            <input type="text" id="GENERO">
                        </div>
                        <div class="CAMPO">
                            <div>Fec. Nacimiento</div>
                            <input type="date" id="FN">
                        </div>
                        <div class="CAMPO">
                            <div>DNI</div>
                            <input type="text" id="DNI">
                        </div>
                        <div class="CAMPO">
                            <div>Nacionalidad</div>
                            <input type="text" id="NAC">
                        </div>
                        <div class="CAMPO">
                            <div>Email</div>
                            <input type="email" id="EMAIL">
                        </div>
                        <div class="CAMPO">
                            <div>Teléfono</div>
                            <input type="tel" id="TEL">
                        </div>
                        <div class="CAMPO">
                            <div>Departamento</div>
                            <input type="" id="DPTO">
                        </div>
                        <div class="CAMPO">
                            <div>Provincia</div>
                            <input type="text" id="PROV">
                        </div>
                        <div class="CAMPO">
                            <div>Ciudad</div>
                            <input type="text" id="CIUDAD">
                        </div>
                        <div class="CAMPO">
                            <div>Distritos</div>
                            <input type="text" id="DISTRITO">
                        </div>
                        <div class="CAMPO">
                            <div>Cod. Postal</div>
                            <input type="text" id="CODP">
                        </div>
                        <div class="CAMPO">
                            <div>Dirección</div>
                            <input type="text" id="DIR">
                        </div>
                    </div>
                    <div class="SEPARADORPANEL"></div>
                    <div id="PIEPANEL">
                        <div>DATOS PERSONALES 1</div>
                        <button class="BTNPANEL" onclick="cargarPanel('DATOSDECLIENTE2')">Siguiente →</button>
                    </div>
                </div>
                <div class="PANEL" id="DATOSDECLIENTE2">
                    <div id="CABECERAPANEL">
                        <div>DATOS DE CLIENTE ENCONTRADO</div>
                        <div>
                            <button class="BTNPANEL">Modificar</button>
                            <button class="BTNPANEL" onclick="eliminarCliente()">Eliminar</button>
                        </div>
                    </div>
                    <div class="SEPARADORPANEL"></div>
                    <div class="CONTENIDOPANEL">
                        <div class="CAMPO">
                            <div>RUC</div>
                            <input type="text" id="RUC">
                        </div>
                        <span></span>
                        <div class="CAMPO">
                            <div>¿Cuántos familiares tiene el cliente?</div>
                            <input type="text" id="NFAM">
                        </div>
                        <div class="CAMPO">
                            <div>¿Cuál es el pasatiempo favorito del cliente?</div>
                            <input type="text" id="PASAT">
                        </div>
                        <div class="CAMPO">
                            <div>Número de dispositivos que tiene el cliente en casa</div>
                            <input type="text" id="NDISP">
                        </div>
                        <div class="CAMPO">
                            <div>Nivel socioeconómico del cliente</div>
                            <input type="text" id="NSOC">
                        </div>
                        <span></span>
                    </div>
                    <div class="SEPARADORPANEL"></div>
                    <div id="PIEPANEL">
                        <button class="BTNPANEL" onclick="cargarPanel('DATOSDECLIENTE1')">← Atras</button>
                        <div>DATOS PERSONALES 2</div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div>Autores: Grupo 4</div>
            <div>v 1.0</div>
        </footer>
    </main>
</body>
</html>