<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/style.css">
    <title>Ventas</title>
</head>

<body>


    <div class="report">
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="5" class="tbtitulo"><br><img class="logo" src="../static/resources/images/cubo.png"
                            title="Inicio"><b> Empresa Teleco S.A.C.</b></td>
                </tr>
                <tr>
                    <td colspan="5" class="tbsubtitulo"><br>Avenida Petit Thouars N° 5356, 4to piso - Oficina 4006
                        Miraflores - Lima - Lima - PERÚ</td>
                </tr>

                <tr>
                    <td colspan="5" class="tbsubtitulo">RUC: 20600597940</td>
                </tr>


                <tr>
                    <td colspan="5" class="tbcliente"><b>Cliente: </b>BIANCA ELIZABETH ROMERO DIAZ</td>
                </tr>
                <tr>
                    <td colspan="5" class="tbcliente"><b>Dirección: </b>Julio Villegas, 184 - La Victoria - Lima - Lima
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="tbcliente"><b>DNI: </b>74760568</td>
                </tr>
                <tr>
                    <td colspan="5" class="tbcliente"><b>Moneda: </b>SOL</td>
                </tr>

                <tr>
                    <td colspan="5" class="tbcliente">
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="tbcliente"><b>Cod. Cliente: </b>13499494</td>
                </tr>

                <tr>
                    <td colspan="5" class="tbbarra">
                        ________________________________________________________________________________________________________________________
                    </td>
                </tr>

                <tr>
                    <th class="tbdetcabecera"><b>Descripción</b></th>
                    <th class="tbdetcabecera">Cant.</th>
                    <th class="tbdetcabecera">Precio unitario</th>
                    <th class="tbdetcabecera">Dscto(%)</th>
                    <th class="tbdetcabecera">Precio total</th>
                </tr>
                <tr>
                    <td colspan="5" class="tbbarra">
                        ________________________________________________________________________________________________________________________
                    </td>
                </tr>

                <tr>
                    <td colspan="5" class="tbtotal">Importe Total:</td>
                </tr>

            </tbody>

        </table>

    </div>
</body>

</html>