{% extends "base.html" %}
{% block bodycontent %}
    <div class="contenido">
        <div class="lateral">
            <div class="cliente"><img src="../static/resources/images/usuario.png" title="Cliente">ID-CLIENTE</div>
            <div class="filtros">
                <label>Filtros</label>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Precio
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <form action = "/catalogo" method = "POST">
                                    <input type = "text" name = "min" pattern="[0-9]{1,5}" placeholder = "min">
                                    <input type = "text" name = "max" pattern="[0-9]{1,5}" placeholder = "max">
                                    <button type = "submit" class="btn-secondary">Confirmar precio</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Ofertas
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body d-flex flex-column mb-3">
                                {%for oferta in ofertas %}
                                <div class="form-check">
                                    
                                    <input class="form-check-input" type="radio" name="{{oferta.0}}" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        {{oferta.0}}
                                    </label>
                                    
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Plan
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body d-flex flex-column mb-3" id="planacc">
                                {%for plan in planes %}
                                <button class="btnplan">{{plan.0}}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Marca
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body d-flex flex-column mb-3">
                                {%for marca in marcas %}
                                <button >{{marca.0}}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Accesorio
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body d-flex flex-column mb-3">
                                {%for accesorio in accesorios %}
                                <button >{{accesorio.0}}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carrito">IR AL
                CARRITO<img src="../static/resources/images/icons8-carrito-de-compras-24.png" title="Carrito"></button>
        </div>
        <div class="principal">
            <div class="cabecera">
                <div class="titulo">
                    <label class="catalogo-t">CATALOGO DE PRODUCTOS</label>
                </div>
                <div class="botones">
                    <nav class="navbar bg-light">
                        <div class="container-fluid" style="width:250px;">
                            <form class="d-flex" role="search" method = "GET" action="{{url_for('catalogo_idproducto')}}">
                                <input class="form-control me-2" type="search" name = "id" placeholder="Buscar por id" aria-label="Search">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </form>
                        </div>
                    </nav>
                    <form class="d-flex" method = "POST" action="{{url_for('catalogo_ordenado')}}">
                        <select class="selectpicker form-select input" style="width:auto;" name="opcion_ordenar">
                            <option selected disabled>Ordenar por: </option>
                            <option value="nombre">Nombre</option>
                            <option value="precio">Precio</option>
                            <option value="stock">Stock</option>
                        </select>            
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
            <div class="paginas">
                <label>Páginas: </label>
                <ol>
                    <button><img title="atrás" src="../static/resources/images/icons8-izquierda-24 (1).png" style="transform:rotate(0deg);"></button>
                
                    <li>
                        <button>1</button>
                    </li>
                    <li>
                        <button>2</button>
                    </li>
                    <li>
                        ...
                    </li>
                    <li>
                        <button>N</button>
                    </li>
                    <button><img title="adelante" src="../static/resources/images/icons8-izquierda-24 (1).png"></button>
                </ol>
            </div>
            <div class="catalogo">
            {%for producto in productos %}    
                <div class="card">
                    <img src={{producto.7}} class="card-img-top" alt="..." height="180">
                    <div class="card-body">
                        
                        <label>id: {{producto.0}}</label>
                        <h5 class="card-title">{{producto.3}}</h5>
                        <label>Stock: {{producto.5}}</label>
                        <div class="card-desc">
                            <label>S/{{producto.4}}</label>
                        </div>
                        
                        <div class="card-button">
                            <a href="{{url_for('ver_detalles', i=producto.0)}}" class="btn btn-secondary">Detalles</a>
                            <a href="#" class="btn btn-primary">Agregar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}