{% extends "base.html" %}
{% block bodycontent %}
<div class="detalles-cab">
    <button class="volver"><img title="volver"
            src="../static/resources/images/icons8-izquierda-24 (1).png">Volver</button>
    <label>Precio producto</label>
    <label class="precio">S/{{producto.0}}</label>
    <label>Stock</label>
    <label class="stock">{{producto.1}}</label>
    <button class="agregar">AGREGAR AL CARRITO</button>
</div>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item" id="equipo">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                <h4>DETALLES DE EQUIPO</h4>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="foto"><img title="foto" src="{{equipo.3}}" height="300"></div>
                <div class="descs">
                    <label>Nombre</label>
                    <p>{{equipo.0}}</p>
                    <label>Descripción</label>
                    <p>{{equipo.1}}</p>
                    <label>Garantía</label>
                    <p>{{equipo.2}} meses</p>
                </div>
            </div>
        </div>
    </div>
    <div class="info3">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    <h4>DETALLES DE PLAN</h4>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="descs">
                        <label>Nombre</label>
                        <p>{{plan.0}}</p>
                        <label>Precio</label>
                        <p>S/{{plan.1}}</p>
                        <label>Descripción</label>
                        <p>{{plan.2}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    <h4>DETALLES DE ACCESORIO</h4>
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="descs">
                        <label>Nombre</label>
                        <p>{{accesorio.0}}</p>
                        <label>Descripción</label>
                        <p>{{accesorio.1}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                    aria-expanded="false" aria-controls="collapseFive">
                    <h4>DETALLES DE OFERTA</h4>
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="descs">
                        <label>Nombre</label>
                        <p>{{oferta.0}}</p>
                        <label>Descuento</label>
                        <p>{{oferta.1}}</p>
                        <label>Descripción</label>
                        <p>{{oferta.2}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}