<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="Modulos">
            <button><img class="logo" src="../static/resources/images/cubo.png" title="Inicio"></button>
        </div>
        <div class="Sesion">
            <div class="usuario"><img src="../static/resources/images/usuario.png" title="Inicio">
                <label>Nombre</label>
            </div>
            <div class="botones">
                <button class="salir"><label>Salir</label><img
                        src="../static/resources/images/boton-de-encendido-apagado.png" title="Salir"></button>
                <button class="configuracion"><label>Configuración</label><img
                        src="../static/resources/images/configuraciones.png" title="Configuracion"></button>
            </div>
        </div>
    </header>
    <div class="cuerpo-vis">
        <section class="seccioncarrito">
            <div class="contenidoCar">
                <div class="tabla">
                    <div class="det-cab">
                        <button class="btn-secondary"><img title="volver"
                                src="../static/resources/images/icons8-izquierda-24 (1).png">Volver</button>
                    </div>

                    <div class="titulo">
                        <label>Carrito de Compra</label>
                    </div>

                    <table class="carritotabla">
                        <!-- encabezado de tabla -->
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad </th>
                            <th>Unidad</th>
                            <th>Total</th>
                        </tr>
                        <!-- formato de llenado de tabla -->
                        <tr>

                            <th><label name="producto">Samsung Galaxy S22</label></th>
                            <th><button class="btn-secondary" name="cantidad">- </button><label>2</label><button
                                    class="btn-secondary">+</button></th>
                            <th><label name="unidad">120.00</label></th>
                            <th><label name="total">220.00</label></th>
                        </tr>
                        <tr>

                            <th><label>Samsung Galaxy S22</label></th>
                            <th><button class="btn-secondary">- </button><label>2</label><button
                                    class="btn-secondary">+</button></th>
                            <th><label>120.00</label></th>
                            <th><label>220.00</label></th>
                        </tr>
                    </table>

                    <div class="importe">
                        <label>Subtotal: </label>
                        <label class="imp-tot">440.00</label>
                        <label>Descuento:</label>
                        <label class="imp-tot">20.00</label>
                        <label>IMPORTE TOTAL</label>
                        <label class="imp-tot">230.00</label>
                    </div>
                </div>
                <div class="botonesC">
                    <button class="btn-secondary" onclick="openForm('cotizacion')">Cotizar</button>
                    <button class="btn-primary" onclick="openForm('popup')" >Generar Venta</button>
                </div>
            </div>
        </section>
        <section class="seccionlista">
            <div class="cabecera-lista">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne-zero" aria-expanded="false" aria-controls="collapseOne-zero">
                            <h4>FILTRAR POR: </h4>
                        </button>
                    </h2>
                    <div id="collapseOne-zero" class="accordion-collapse collapse" aria-labelledby="headingOne-zero"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body-pr">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne-One">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne-One" aria-expanded="false"
                                        aria-controls="collapseOne-One">
                                        <h3>RAM</h3>
                                    </button>
                                </h2>
                                <div id="collapseOne-One" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-One" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <button class="opciondin" value="todos">TODOS</button>
                                        {%for memoria in data_ram %}
                                        <button class="opciondin" value={{memoria.0}}>{{memoria.0}} GB</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne-Two">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne-Two" aria-expanded="false"
                                        aria-controls="collapseOne-Two">
                                        <h3>PROCESADOR</h3>
                                    </button>
                                </h2>
                                <div id="collapseOne-Two" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-Two" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {%for procesador in data_procesador %}
                                        <button class="opciondin" value={{procesador.0}}>{{procesador.0}}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne-Three">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne-Three" aria-expanded="false"
                                        aria-controls="collapseOne-Three">
                                        <h3>CAMARA</h3>
                                    </button>
                                </h2>
                                <div id="collapseOne-Three" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-Three" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {%for camara in data_camara %}
                                        <button class="opciondin" value={{camara.0}}>{{camara.0}} Pixeles</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne-Four">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne-Four" aria-expanded="false"
                                        aria-controls="collapseOne-Four">
                                        <h3>PRECIO</h3>
                                    </button>
                                </h2>
                                <div id="collapseOne-Four" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-Four" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <label>Maximo</label>
                                        <input id="maximo" type="text">
                                        <br>
                                        <label>Minimo</label>
                                        <input id="minimo" type="text">
                                        <br>
                                        <button class="btn-primary" onclick="filtrarprecio()">Filtrar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne-five">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne-Five" aria-expanded="false"
                                        aria-controls="collapseOne-Five">
                                        <h3>PLAN</h3>
                                    </button>
                                </h2>
                                <div id="collapseOne-Five" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne-Five" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {%for plan in data_plan %}
                                        <button class="opciondin" value={{plan.0}}>{{plan.1}}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buscador">
                    <div class="main-browser">
                        <span class="icon-search"></span>
                        <input class="main-browser__input" type="text" id="buscador" placeholder="Buscar" />
                    </div>
                    <div class="select">
                        <select name="seleccionar" id="seleccionar" title="Categoria">
                            <option value="Categorias">Categorias</option>
                            <option value="Nombre">Nombre</option>
                            <option value="Accesorio">Accesorio</option>
                            <option value="ID">ID producto</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="cuerpo-lista">
                <table class="tabla-prod" id="tabla">
                    <tr>
                        <th>ACCIÓN</th>
                        <th>NOMBRE</th>
                        <th>ID</th>
                        <th>STOCK</th>
                        <th>PRECIO</th>
                    </tr>
                    <!-- formato de llenado de tabla -->
                    {%for producto in data_productos %}
                    <tr id={{producto.1}}>
                        <th>
                            <div class="card-button">
                                <a href="#" onclick="openForm('secciondetalles')" class="btn btn-secondary">👁‍</a>
                                <a href="#" class="btn btn-primary"> + </a>
                            </div>
                        </th>
                        <th><label>{{producto.0}}</label></th>
                        <th><label>{{producto.1}}</label></th>
                        <th><label>{{producto.2}}</label></th>
                        <th id="precioproducto"><label>{{producto.3}}</label></th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </div>

    <section class="seccionpago">
        <div class="popup" id="popup">
            <div class="cuadro">
                <div class="cab-cua"><label>FORMA DE PAGO</label>
                    <button onclick="closeForm('popup')"><img
                            src="../static/resources/images/boton-de-encendido-apagado.png" title="cerrar"></button>
                </div>
                <button onclick="openForm('comprobante')" ondblclick="closeForm('popup')">EFECTIVO</button>
                <button onclick="openForm('comprobante')" ondblclick="closeForm('popup')">TARJETA DE CREDITO</button>
                <button onclick="openForm('comprobante')" ondblclick="closeForm('popup')">TARJETA DE DEBITO</button>
                <button onclick="openForm('comprobante')" ondblclick="closeForm('popup')">APLICACION</button>
            </div>
        </div>
    </section>

    <section class="secciondetalles" id="secciondetalles">
        <div class="detalles-cab">
            <button class="btn-secondary" onclick="closeForm('secciondetalles')"><img title="volver"
                    src="../static/resources/images/icons8-izquierda-24 (1).png">Volver</button>
            <label>Precio</label>
            <label class="llenar">S/</label>
            <label>Stock</label>
            <label class="llenar">1</label>
            <button class="btn-primary">AGREGAR AL CARRITO</button>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item" id="equipo">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h4>DETALLES DE EQUIPO</h4>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="foto"><img title="foto" src="#" height="300"></div>
                        <div class="descs">
                            <label>Nombre</label>
                            <p></p>
                            <label>Descripción</label>
                            <p></p>
                            <label>Garantía</label>
                            <p> meses</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info3">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4>DETALLES DE PLAN</h4>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="descs">
                                <label>Nombre</label>
                                <p></p>
                                <label>Precio</label>
                                <p>S/</p>
                                <label>Descripción</label>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h4>DETALLES DE ACCESORIO</h4>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="descs">
                                <label>Nombre</label>
                                <p></p>
                                <label>Descripción</label>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <h4>DETALLES DE OFERTA</h4>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="descs">
                                <label>Nombre</label>
                                <p></p>
                                <label>Descuento</label>
                                <p></p>
                                <label>Descripción</label>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="seccionpdf">
        <section class="comprobante" id="comprobante">
            <button class="btn-secondary" onclick="closeForm('comprobante')"><img title="volver"
                    src="../static/resources/images/icons8-izquierda-24 (1).png">Volver</button>
            <div class="pdf">
                <embed src="../static/resources/boletaventas.pdf" type="application/pdf" width="80%" height="100%">
            </div>
            <div class="btnspdf">
                <button class="btn-primary">Enviar comprobante</button>
                <button class="btn-primary">Imprimir comprobante</button>
            </div>
        </section>
        <section class="cotizacion" id="cotizacion">
            <button class="btn-secondary" onclick="closeForm('cotizacion')"><img title="volver"
                    src="../static/resources/images/icons8-izquierda-24 (1).png">Volver</button>
            <div class="pdf">
                <embed src="../static/resources/pdfcotiza.pdf" type="application/pdf" width="80%" height="100%">
            </div>
            <div class="btnspdf">
                <button class="btn-primary">Enviar cotizacion</button>
                <button class="btn-primary">Imprimir cotizacion</button>
            </div>
        </section>

    </section>
</body>
<script>
    function openForm(id) {
        document.getElementById(id).style.display = "block";
    }

    function closeForm(id) {
        document.getElementById(id).style.display = "none";
    }
    function filtrarprecio() {
        // let maximo = document.getElementById(maximo).value;
        // let minimo = document.getElementById(minimo).value;
        var filas = document.getElementById('tabla');
        console.log(filas);
    }
</script>
<script href="./"></script>

</html>